<h3><%=first%> <%=last%>, <%=age%></h3>

<h1>your name is <%=first%> <%=last%>
your three favorite numbers are <%=num1%>, <%=num2%>, <%=num3%>
add those together you and you get <%=num1.to_i+num2.to_i+num3.to_i%></h1>
